/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root{
	-fx-background-color:white;
		
}
#emailAddress_label,#password_label,#title_label{
	-fx-text-fill:black;
}
#login_btn{
	-fx-background-color:black;
	-fx-text-fill:white;
	-fx-background-radius:30;
}
#emailField,#passwordField{
	-fx-border-color: grey;
  -fx-border-width: 0 0 1.5 0; 
  -fx-background-color:transparent;
  -fx-text-fill:black;
  -fx-padding:0.0 0.0 0.0 2px;
}
#emailField:focused,#passwordField:focused{
	-fx-border-color:black;
}