/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


.root{
	-fx-background-color:#20232D;
}
.lable-color{
	-fx-text-fill:#EEEEEE;
	-fx-font-size:15px;
	-fx-font-weight:bold;
}
.header-color{
	-fx-background-color:#2979ff;
}
.text-field{
	-fx-background-radius:2;
	-fx-background-color:#2E313B;
	-fx-text-fill:white;
	-fx-font-size:14px;
}