/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
* {
	/*main theme color */
   -fx-mainColor: #2979ff;
   /* background-color */
   -fx-backgroundColor:#20232D;
   /* text color */
   -fx-textColor:#EEEEEE;
}

.root{
	-fx-background-color:-fx-backgroundColor;
	
}
.secondRoot{
	-fx-background-color:#2E313B;
}
.refreshBtn{
	-fx-background-color:-fx-mainColor;
	-fx-fill:white;
}

.text-field{
	-fx-background-color:-fx-backgroundColor;
	-fx-border-radius:1px;
	-fx-text-fill:-fx-textColor;
	-fx-font-size:15px;
}
.label-color{
	-fx-text-fill: -fx-textColor;
}
.slider .track {
    -fx-background-color:-fx-mainColor;  /* Hide the track */
    -fx-background-insets: 1 0 -1 0, 0, 1;
    -fx-background-radius: 2.5, 2.5, 1.5;
    -fx-padding: 0.208333em; /* 2.5 */
}
.slider .track {
    -fx-padding: 5;
}

.slider .thumb {
    -fx-padding: 10;
    
}

.check-box .box {

-fx-background-color: white;

-fx-border-radius:0px; 

}

.check-box:selected .mark {

-fx-background-color: white;

}

.check-box:selected .box {

-fx-background-color: -fx-mainColor;
}
.userPassword_btn{
	-fx-background-radius:2px;
	-fx-background-color:-fx-mainColor;
	-fx-text-fill: white;
	
}