/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root{
	-fx-background-color:#20232D;
}

.label-color{
	-fx-text-fill:#EEEEEE;
}

.textfield{
		-fx-border-color: grey;
  -fx-border-width: 0 0 1.5 0; 
  -fx-background-color:transparent;
  -fx-text-fill:white;
  -fx-padding:0.0 0.0 0.0 5px;
  -fx-font-size:13px;
}

.textfield:focused{
	-fx-border-color:#2979ff;
}
.codeTextField{
	-fx-background-color:#2E313B;
	-fx-font-size:13px;
}
.continueBtn{
	-fx-background-color:#2979ff;
	-fx-background-radius:3px;
	-fx-text-fill:white;
}