/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root{
	-fx-background-color:#20232D;
}
.main-color{
	-fx-background-color:#2979ff;
}
.labelColor{
	-fx-text-fill:#2979ff;
}
.white{
	-fx-text-fill:white;
}
.h1{
	-fx-font-size:20px;
}
.textField{

-fx-border-color: grey;
  -fx-border-width: 0 0 1.5 0; 
  -fx-background-color:transparent;
  -fx-text-fill:white;
  -fx-font-size:18px;
  -fx-padding:0.0 0.0 0.0 2px;
}
.textField:focused{
	-fx-border-color:#2979ff;
}
.button{
	-fx-background-color:#2979ff;
	-fx-background-radius:30;
	-fx-text-fill:white;
	
}

